body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Volkhov', serif;

    box-sizing: border-box;
    /* background-color: #5c6c90; */
    min-height: 100vh;
    color: black;
    /* background-image: url(/2.jpeg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(25px); */
    /* color: rgb(0, 0, 0); */

}

.heading1 {
    /* padding-left: 35px;
    padding-top: 30px; */
}

.title {
    display: block;
    color: white;
    font-size: 45px;
    padding: 14px 16px;

}


h1 {
    /* color: aliceblue; */
    font-size: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(49, 48, 48); */

    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.75s;
}

li a:hover {
    color: rgb(177, 144, 246);
    background-color: rgb(255, 255, 255);
}

#abt {
    float: right;
}

.generate {
    text-align: center;
    padding-top: 355px;
    padding-left: 100px;
    font-size: 55px;
    /* background: linear-gradient(to left bottom, rgba(30, 30, 206, 0.5), rgb(255, 255, 255)); */

}

.big {
    padding-top: 30px;
    display: inline-block;
    float: left;
}

.main_body {
    background: linear-gradient(to left bottom, rgba(30, 30, 206, 0.5), rgb(255, 255, 255));
}


.btn {
    background: #9e9ef0;
    background-image: -webkit-linear-gradient(top, #9e9ef0, #a9a9d9);
    background-image: -moz-linear-gradient(top, #9e9ef0, #a9a9d9);
    background-image: -ms-linear-gradient(top, #9e9ef0, #a9a9d9);
    background-image: -o-linear-gradient(top, #9e9ef0, #a9a9d9);
    background-image: linear-gradient(to bottom, #9e9ef0, #a9a9d9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #a8a8e3 2px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 23px;
    margin-bottom: 70px;
}

.btn:hover {
    background: #c1c1eb;
    background-image: -webkit-linear-gradient(top, #c1c1eb, #b7a5e8);
    background-image: -moz-linear-gradient(top, #c1c1eb, #b7a5e8);
    background-image: -ms-linear-gradient(top, #c1c1eb, #b7a5e8);
    background-image: -o-linear-gradient(top, #c1c1eb, #b7a5e8);
    background-image: linear-gradient(to bottom, #c1c1eb, #b7a5e8);
    text-decoration: none;
}

.content1 {

    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 50px;
    /*display: inline-block;
    float: left;*/

    /* background: linear-gradient(to left bottom, rgba(30, 30, 206, 0.5), rgb(255, 255, 255)); */

}

.content2 {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 50px;
    background: linear-gradient(to left bottom, rgba(30, 30, 206, 0.5), rgb(255, 255, 255));

}
.contact{
    text-align: center;
    font-size: 25px;
}

.right-container{
    justify-content: center;
    /* align-items: center; */
    /* background: linear-gradient(to left bottom, rgba(30, 30, 206, 0.5), rgb(255, 255, 255)); */

}
.vid video{
    padding-top: 150px;
    padding-left: 400px;
    padding-right: -30px;
    width: 550px;
    height: 600px;
    
}
.wish {
    width: 500px;
    height: auto;
    padding-left: 100px;
    padding-top: -100px;
    font-size: 64px;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Parisienne', cursive;
}